{% extends "::layout.html.twig" %}

{% block body %}

<section class="events">
	<h2>Events</h2>
	<p>description</p>
</section>
<section class="vision">
	<h2>Vision</h2>
	<p>description</p>
</section>
<section class="mission">
	<h2>Mission</h2>
	<p>description</p>
</section>

{% endblock %}