{% extends "::layout.html.twig" %}

{% block body %}

<section class=" coverImage">
	<section id="IntroTextCover">
		<!--<img src="images/iahm-heart-white.png" height="250" />-->
			<!----><h2>Who we are? Who we are? Who we are?</h2>
	</section>
	<section class="IntroTextCover2">
		<section class="social">
			<ul>
				<li class="buttonFacebook"><a target="_blank" href="https://www.facebook.com/iahm.international">&nbsp;</a></li>
				<li class="buttonTwitter"><a target="_blank" href="https://twitter.com/aimg_iahm">&nbsp;</a></li>
				<li class="buttonYoutube"><a target="_blank" href="https://www.youtube.com/user/AIMGTV">&nbsp;</a></li>
			</ul>
		</section>
	</section>
</section>
<!--<section class="coverAction uppercaser">Do you need prayer? Click here
</section>
-->

<!--
<section class="events">
		<h3>Conferences & Events</h3>
		<p>
			<section class="eventItem3col">
				<section class="eventThumb thumb1">&nbsp;</section>
				<section class="eventText"><span class="eventTitle">Stuttgart conference</span><br />les détails</section>
		</section>
			<section class="eventItem3col">
				<section class="eventThumb thumb2">&nbsp;</section>
				<section class="eventText">Le titre de l'event<br />les détails</section>
			</section>
			<section class="eventItem3col">
				<section class="eventThumb thumb3">&nbsp;</section>
				<section class="eventText">Le titre de l'event<br />les détails</section>
			</section>
		</p>
		<p><a class="button hightlight" href="#">Click here to see more events</a></p>
</section>
-->


<section class="events">
		<h3>Conferences & Events</h3>
			<section class="eventItem1col">
				<section class="eventText">
					<h4>Healing Conference in Stuttgart (DE)<br />du 30 septembre 2015 au 03 octobre 2015</h4>
<p>WITH<br />
Bill Johnson (USA) / Heidi Baker (MZ) / Peter Wenz (DE) / Jean-Luc Trachsel (CH) <br />
Johannes Hartl (DE) / Mattheus van der Steen (NL) / Andreas Hermann (DE)<br />Markus Wenz (DE) ainsi que d'autres</p>
<p>
<a class="button white" href="http://supernatural.holyspiritnight.de/" target="_blank">Click here to learne more</a></p>
				</section>
		</section>
		<!--<p><a class="button red" href="http://www.laguerison.org/activites/evenements" target="_blank">Click here to see more events</a></p>-->
</section>



<section class="cover">
	<article><a name="presentation"></a>
		<h3>Who are we ?</h3>
		<p>
We are an international association uniting people called to work to promote healing ministries. The IAHM organisation offers encouragement, a sense of responsibility, accountability and a strategy that we desperately need to grow healing in the Church today.
		</p>
	</article>
</section>
<section class="visionImage">
	<section class="introText"><h2>OUR VISION</h2></section>
</section>
<section class="vision">
	<article><a name="vision"></a>
		<h3>Our vision</h3>
		<p>
			Our desire is to see a greater manifestation of healing anointing and supernatural be imparted in every ministry and community. More and more, the river of the presence of God grows and we see a new outpouring of the Holy Spirit emerge, showing itself through signs, wonders, healings and miracles. We notice that things we had been longing for are happening now: lames are walking, blinds receive their sight, cancerous and AIDS sufferers are healed! We believe that we are going to see a wider release of these manifestations as we unite all of those who are already moving with healing anointing.
		</p>
		<!--<p><a class="button" href="#">Click here to see more events</a></p>-->
	</article>
</section>
<section class="missionImage">
	<section class="introText"><h2>Uniting - Bringing - Restoring</h2></section>
</section>
<section class="mission">
	<article><a name="mission"></a>
		<h3>Our mission</h3>
		<p>
			<strong>Uniting</strong> healing ministries through an international network in order to support one another and offer a greater visibility and credibility.</p>

			<p><b>Bringing</b> the message of the Gospel along with signs to the end of the earth and see a great harvest to the end of times. </p>

			<p><b>Restoring</b> and developing healing ministry in every christian community in a standard of biblical ethics with different tools.</p>
		</p>
	</article>
</section>
<!---->
{% endblock %}