{% extends "::layout.html.twig" %}

{% block body %}

<section class="coverImage">
	<section class="IntroTextCover">
			<h2>Who we are?</h2>
	</section>
		<section id="social" class="social">
			<ul>
				<li>Facebook</li>
				<li>Twitter</li>
				<li>Vimeo</li>
		</ul>
			</section>
</section>
<!----><section class="coverAction">Nos contenus action</section>
<section class="cover">
	<article>
		<!----><h3>Who are we ?</h3>
		<p>
We are an international association uniting people called to work to promote healing ministries. The IAHM organisation offers encouragement, a sense of responsibility, accountability and a strategy that we desperately need to grow healing in the Church today.
		</p>
	</article>
</section>
<section class="visionImage">
	<section class="introText"><h2>OUR VISION</h2></section>
</section>
<section class="vision">
	<article>
		<h3>Our vision</h3>
		<p>
			Our desire is to see a greater manifestation of healing anointing and supernatural be imparted in every ministry and community. More and more, the river of the presence of God grows and we see a new outpouring of the Holy Spirit emerge, showing itself through signs, wonders, healings and miracles. We notice that things we had been longing for are happening now: lames are walking, blinds receive their sight, cancerous and AIDS sufferers are healed! We believe that we are going to see a wider release of these manifestations as we unite all of those who are already moving with healing anointing.
		</p>
	</article>
</section>
<section class="missionImage">
	<section class="introText"><h2>Uniting - Bringing - Restoring</h2></section>
</section>
<section class="mission">
	<article>
		<h3>Our mission</h3>
		<p>
			<strong>Uniting</strong> healing ministries through an international network in order to support one another and offer a greater visibility and credibility.</p>

			<p><b>Bringing</b> the message of the Gospel along with signs to the end of the earth and see a great harvest to the end of times. </p>

			<p><b>Restoring</b> and developing healing ministry in every christian community in a standard of biblical ethics with different tools.</p>
		</p>
	</article>
</section>

{% endblock %}