{% extends "::layout.html.twig" %}

{% block body %}

<section class="eventsImage">
	<article><h4>présentation</h4></article>
</section>
<section class="events">
	<article>
		<h2>Présentation</h2>
		<p>
Dans une atmosphère détendue et festive, nous t’offrons la possibilité de faire connaissance avec d’autres célibataires ! Au fil de la soirée, des animations et des clips seront proposés pour créer un cadre simple et propice à des conversations et rencontres amicales.
</p><p>
Pour certains, cette soirée sera le début d’une amitié privilégiée avec quelqu’un ; pour d’autres, une soirée cool avec un bon repas, des activités sympas et des échanges pétillants... mais en tous les cas, une excellente occasion d'élargir ton cercle d'amis !
		</p>
	</article>
</section>
<section class="visionImage">
	<article><h4>Vision</h4></article>
</section>
<section class="vision">
	<article>
		<h2>Vision</h2>
	</article>
</section>
<section class="missionImage">
	<article><h4>Mission</h4></article>
</section>
<section class="mission">
	<article>
		<h2>Mission</h2>
		<p>description</p>
	</article>
</section>

{% endblock %}