{% extends "::layout.html.twig" %}

{% block body %}
    <header>
        <section id="logo"></section>
        <section id="ruban">
            <!----><!--
            <div id="logoRight"></div>
            <div id="logoLeft"></div>
            -->
            <nav class="main">
                <!---->
                <ul>
                    <li class="current">&nbsp;</li>
                    <li><a href="#events" target="_parent">Events</a></li>
                    <li><a href="#presentation" target="_parent">Presentation</a></li>
                    <li><a href="#vision" target="_parent">Vision</a></li>
                    <li><a href="#mission" target="_parent">Mission</a></li>
                    <li class="lastItem"><a href="#contact" target="_parent">Contact</a></li>
                </ul>

            </nav>

        </section>
    </header>
<!--
<div class="overlay"></div>
<div class="modal">I'm the modal window!<button id="hide">Hide</button></div>
-->
<!--<overlayEvent1></overlayEvent1>
<modalEvent1>
	<div id="buttonClose"><button id="hideEvent1">Hide</button></div>
	1 I'm the modal window!
</modalEvent1>
<overlayEvent2></overlayEvent2>
<modalEvent2>
	<div id="buttonClose"><button id="hideEvent2">Hide</button></div>
	2 I'm the modal window!
</modalEvent2>
<overlayEvent3></overlayEvent3>
<modalEvent3>
	<div id="buttonClose"><button id="hideEvent3">Hide</button></div>
	3 I'm the modal window!
</modalEvent3>
-->
<section class="coverImage">
	<section id="coverVerse">
		<!--<img src="imagesd/iahm-heart-white.png" height="250" />-->
			<!--<h2></h2>--><div class="splitText">He sent them out to proclaim the kingdom&nbsp;</div><div>of God and to heal the sick. Luke 9.2</div>
	</section>
	<section id="IntroTextCover">
		<!--<img src="imagesd/iahm-heart-white.png" height="250" />-->
			<!--<h2></h2>Who we are? Who we are? Who we are?-->
	</section>
	<section class="IntroTextCover2">
		<section class="social">
			<ul>
				<li class="buttonFacebook"><a target="_blank" href="https://www.facebook.com/iahm.international">&nbsp;</a></li>
				<li class="buttonTwitter"><a target="_blank" href="https://twitter.com/aimg_iahm">&nbsp;</a></li>
				<li class="buttonYoutube"><a target="_blank" href="https://www.youtube.com/user/AIMGTV">&nbsp;</a></li>
			</ul>
		</section>
	</section>
</section>
<!--<section class="coverAction uppercaser">Do you need prayer? Click here
</section>
-->

<!---->
<section class="events"><a name="events"></a>
		<h3>Conferences & Events</h3>
		<p>
			<section class="eventItem3col">
				<section class="eventThumb thumb2 "><div id="eventThumbText"></div></section>
				<section class="eventText"><span class="eventTitle">Miracles & Healings evening<br />13th March at 7:30 PM</span><br />
					<a class="button" href="http://healing-ministries.org/live">Watch now</a>
				</section>
			</section>
			<!--
			<section class="eventItem3col">
				<section class="eventThumb thumb2 "><div id="eventThumbText">Stuttgart&nbsp;<br />Germany</div></section>
				<section class="eventText"><span class="eventTitle">Healing Institute<br />from 27th February 2016</span><br />
					<a class="button" href="http://gospel-forum.de/termin/iahm-heilungsinstitut-stuttgart/">Learn more</a>
				</section>
			</section>
			-->
			<!--
			<section class="eventItem3col">
				<section class="eventThumb thumb3 "><div id="eventThumbText">Stuttgart&nbsp;<br>Germany</div></section>
				<section class="eventText"><span class="eventTitle">Supernatural Conference<br />30 oct, - 2 nov, 2015</span><br />

					<a class="button" href="{{ path('iahm_page_events', {'event': 'stuttgart'}) }}">Learn more</a>
				</section>
			</section>
			-->
			<section class="eventItem3col">
				<section class="eventThumb thumb3 "><div id="eventThumbText">Lausanne<br>Switzerland</div></section>
				<section class="eventText"><span class="eventTitle">Presence Conference<br />5th May, - 7th May, 2016</span><br />
					<!--<button id="showEvent1">Learn more</button>-->
					<a class="button" href="http://healing-ministries.org/conference">Learn more</a>
				</section>
			</section>
			<section class="eventItem3col">
				<section class="eventThumb thumb1 "><div id="eventThumbText"></div></section>
				<section class="eventText"><span class="eventTitle">Events in french<br />speaking countries</span><br />
					<!--<button id="showEvent1">Learn more</button>-->
					<a class="button" target="_blank" href="http://www.laguerison.org/activites/evenements">Learn more</a>
				</section>
			</section>
		</p>
		<!--
			<section class="eventItem3colPlus">
				<section class="eventPlus">
						<div class="eventPlusText"><a class="eventbutton" target="_blank" href="http://www.laguerison.org/activites/evenements">Events in french <br />speaking countries</a></div>
				</section>
			</section>
		-->
		<!--<p><a class="button hightlight" href="#">Click here to see more events</a></p>-->
</section>


<!--
<section class="events">
		<h3>Conferences & Events</h3>
			<section class="eventItem1col">
				<section class="eventText">
					<h4>Healing Conference in Stuttgart (DE)<br />du 30 septembre 2015 au 03 octobre 2015</h4>
<p>WITH<br />
Bill Johnson (USA) / Heidi Baker (MZ) / Peter Wenz (DE) / Jean-Luc Trachsel (CH) <br />
Johannes Hartl (DE) / Mattheus van der Steen (NL) / Andreas Hermann (DE)<br />Markus Wenz (DE) ainsi que d'autres</p>
<p>
<a class="button white" href="http://supernatural.holyspiritnight.de/" target="_blank">Click here to learne more</a></p>
				</section>
		</section>
</section>
-->


<section class="cover"><a name="presentation"></a>
	<article>
		<h3>Who are we ?</h3>
		<p>
We are an international association uniting people called to work to promote healing ministries. The IAHM organisation offers encouragement, a sense of responsibility, accountability and a strategy that we desperately need to grow healing in the Church today.
		</p>
	</article>
</section>
<section class="visionImage">
	<section class="introText"><h2><!--OUR VISION--></h2></section>
</section>
<section class="vision"><a name="vision"></a>
	<article>
		<h3>Our vision</h3>
		<p>
			Our desire is to see a greater manifestation of healing anointing and supernatural be imparted in every ministry and community. More and more, the river of the presence of God grows and we see a new outpouring of the Holy Spirit emerge, showing itself through signs, wonders, healings and miracles. We notice that things we had been longing for are happening now: lames are walking, blinds receive their sight, cancerous and AIDS sufferers are healed! We believe that we are going to see a wider release of these manifestations as we unite all of those who are already moving with healing anointing.
		</p>
		<!--<p><a class="button" href="#">Click here to see more events</a></p>-->
	</article>
</section>
<section class="missionImage">
	<section class="introText"><!--<h2>Uniting - Bringing - Restoring</h2>--></section>
</section>
<section class="mission"><a name="mission"></a>
	<article>
		<h3>Our mission</h3>
		<p>
		<p><b>Bringing the message of the Gospel</b> along with signs to the end of the earth and see a great harvest to the end of times. </p>

			<strong>Uniting</strong> healing ministries through an international network in order to support one another and offer a greater visibility and credibility.</p>



			<p><b>Restoring</b> and developing healing ministry in every christian community in a standard of biblical ethics with different tools.</p>
		</p>
	</article>
</section>
<!---->
{% endblock %}