{% extends "iahmPageBundle::events.html.twig" %}

{% block event %}
<section class="pageEvent">
	<!--<h5>Stuttgart, Germany</h5>-->
	<div class="pageEventCoverMinneapolis"><a class="buttonBack" href="{{ path('iahm_page_homepage') }}">< Back to home</a></div>
	<div class="pageEventBloc">
		<h5>MINNEAPOLIS INTERNATIONAL HEALING CONFERENCE</h5>
		<ul class="grid">
			<li class="gridList"><div class="detailLabelEvent">Date</div><div class="detailTextEvent">14 october - 17 october 2015</li>
			<li class="gridList"><div class="detailLabelEvent">Speakers</div><div class="detailTextEvent">
<b>Jean-Luc Trachsel</b> (International Association of Healing Ministries - Switzerland),<br /> 
<b>Robert & Kathie Fetveit</b> (Elijah House Ministries - USA), <br /> 
<b>Jean Turpin,</b> (Revival Centre International - Canada), <br /> 
<b>Mattheus van der Steen</b> (TRIN - The Netherlands),  <br /> 
<b>Ian Andrews</b> (iequippers and Citadel Ministries - England), <br /> 
<b>Dr. Jon & Amy Claussen</b> (Family Restoration Project - Minnesota, USA), <br /> 
<b>Mike Rogers</b> (The Church @ New Bern - North Carolina, USA), <br /> 
<b>Dr. Beth Ley</b> (NHL Ministries - USA), Pat Moldenhauer (Fit for Life - USA), <br /> 
<b>Allen & Wanda Skroch</b> (Reaching Out Ministries - Wisconsin, USA), <br /> 
<b>Damien Wong</b> (Kona Life Church - Hawaii, USA), <br /> 
<b>Donato Anzalone</b> (Centre Chrétien Parole Vivante - Switzerland)
			</div></li>
			<li class="gridList"><div class="detailLabelEvent">Subscription</div><div class="detailTextEvent"><a href="http://www.rainministries.org/fr/event/international-healing-conference/" target="_blank">Offical Website</a></div></li>
		</ul>
	</div>
</section>
{% endblock %}